################################################################################

# emacs
*~

# asm
*.o
*.elf
*.hex
*.dism

# misc
*.local.*

*.ods

################################################################################
KiCad/
################################################################################
